
.cart-row {
cursor: pointer;
 display: grid;
 grid-template-columns: 1fr 600px;
}

.cart-col:first-child {
 background-color: aquamarine;
}


.cart-col:last-child {
    background-color: rgb(233, 60, 57);
   }

.cart-cards{
    display: flex;
    flex-wrap: wrap;
}

.cart-card {
    width: 30%;
}
.cart-header > img {
    width: 60%;
}
.footer-btn {

    background-color: rgb(43, 38, 38);
}
.footer-btn:hover {
    background-color: rgb(253, 8, 8);
}