.screen-container{
    min-height: 100vh;
    border: 1px solid black;
}

.screen-row{
    display: flex;
    min-height: 100vh;
}
.screen-col {
    min-height: 100vh;
    padding: 25px 10px;
}
.screen-col:first-child {
    flex: 3;
    border: 1px solid red;
}

.screen-col:last-child {
    flex: 1;
    border: 1px solid red;
}
