.s-row{
    border: 1px solid red;
    min-height: 100vh;
    margin: 50px 0;
    display: flex;
}
.s-col:first-child{
    flex:1;
    border: 1px solid black;
}
.s-col:last-child{
    flex:1;
    border: 1px solid black;
}